<a href="https://colab.research.google.com/github/ruthiang/Ruth_data690/blob/main/in_class_wdx_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import plotly
import plotly.express as px

DATA_URL = "https://raw.githubusercontent.com/wcj365/jay_data690/main/wdi_data_2000_2020.csv"

config_dict = {'editable': True, 
                'edits' : {'titleText': True, 
                           "axisTitleText": True,
                           'annotationText' : True, 
                           'annotationPosition' : True,
                           "shapePosition": True,
                           'legendPosition' : True,
                           'legendText' : False},
               'modeBarButtonsToAdd':['drawline',
                                      'drawopenpath',
                                      'drawclosedpath',
                                      'drawcircle',
                                      'drawrect',
                                      'eraseshape'],
               'toImageButtonOptions' : {'scale' : 2}
              }

In [9]:
df = pd.read_csv(DATA_URL)

df.head()

,Unnamed: 0,Year,value,indicator,Country Code,Country Name,Region,Income Group,Lending Type
0,0,2000,20779957.0,SP.POP.TOTL,AFG,Afghanistan,South Asia,Low income,IDA
1,1,2001,21606992.0,SP.POP.TOTL,AFG,Afghanistan,South Asia,Low income,IDA
2,2,2002,22600774.0,SP.POP.TOTL,AFG,Afghanistan,South Asia,Low income,IDA
3,3,2003,23680871.0,SP.POP.TOTL,AFG,Afghanistan,South Asia,Low income,IDA
4,4,2004,24726689.0,SP.POP.TOTL,AFG,Afghanistan,South Asia,Low income,IDA

In [10]:
df.drop(columns=["Unnamed: 0"], inplace=True)

df.tail()

,Year,value,indicator,Country Code,Country Name,Region,Income Group,Lending Type
16253,2015,18.0,SH.STA.SUIC.P5,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,Blend
16254,2016,16.8,SH.STA.SUIC.P5,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,Blend
16255,2017,15.0,SH.STA.SUIC.P5,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,Blend
16256,2018,14.0,SH.STA.SUIC.P5,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,Blend
16257,2019,14.1,SH.STA.SUIC.P5,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,Blend

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16258 entries, 0 to 16257
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          16258 non-null  int64
 1   value         16258 non-null  float64
 2   indicator     16258 non-null  object
 3   Country Code  16258 non-null  object
 4   Country Name  16258 non-null  object
 5   Region        16258 non-null  object
 6   Income Group  16258 non-null  object
 7   Lending Type  16258 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 1016.2+ KB

In [12]:
df_2019 = df.query("Year == 2019")
df_2019.head()

,Year,value,indicator,Country Code,Country Name,Region,Income Group,Lending Type
19,2019,38041757.0,SP.POP.TOTL,AFG,Afghanistan,South Asia,Low income,IDA
40,2019,2854191.0,SP.POP.TOTL,ALB,Albania,Europe & Central Asia,Upper middle income,IBRD
61,2019,43053054.0,SP.POP.TOTL,DZA,Algeria,Middle East & North Africa,Lower middle income,IBRD
82,2019,55312.0,SP.POP.TOTL,ASM,American Samoa,East Asia & Pacific,Upper middle income,Not classified
103,2019,77146.0,SP.POP.TOTL,AND,Andorra,Europe & Central Asia,High income,Not classified

In [13]:
df_2019_pivot = df_2019.pivot_table(index=["Year", "Country Code", "Country Name", "Region", "Income Group", "Lending Type"], 
                                    columns="indicator", values="value")
df_2019_pivot.head()

indicator                                                                                     NY.GDP.PCAP.PP.CD  \
Year Country Code Country Name Region                     Income Group        Lending Type
2019 ABW          Aruba        Latin America & Caribbean  High income         Not classified                NaN
     AFG          Afghanistan  South Asia                 Low income          IDA                   2152.366489
     AGO          Angola       Sub-Saharan Africa         Lower middle income IBRD                  6952.419362
     ALB          Albania      Europe & Central Asia      Upper middle income IBRD                 14012.976435
     AND          Andorra      Europe & Central Asia      High income         Not classified                NaN

indicator                                                                                     SH.STA.SUIC.P5  \
Year Country Code Country Name Region                     Income Group        Lending Type
2019 ABW          Aruba        Latin America & Caribbean  High income         Not classified             NaN
     AFG          Afghanistan  South Asia                 Low income          IDA                        4.1
     AGO          Angola       Sub-Saharan Africa         Lower middle income IBRD                       6.1
     ALB          Albania      Europe & Central Asia      Upper middle income IBRD                       4.3
     AND          Andorra      Europe & Central Asia      High income         Not classified             NaN

indicator                                                                                     SP.DYN.LE00.IN  \
Year Country Code Country Name Region                     Income Group        Lending Type
2019 ABW          Aruba        Latin America & Caribbean  High income         Not classified          76.293
     AFG          Afghanistan  South Asia                 Low income          IDA                     64.833
     AGO          Angola       Sub-Saharan Africa         Lower middle income IBRD                    61.147
     ALB          Albania      Europe & Central Asia      Upper middle income IBRD                    78.573
     AND          Andorra      Europe & Central Asia      High income         Not classified             NaN

indicator                                                                                     SP.POP.TOTL
Year Country Code Country Name Region                     Income Group        Lending Type
2019 ABW          Aruba        Latin America & Caribbean  High income         Not classified     106310.0
     AFG          Afghanistan  South Asia                 Low income          IDA              38041757.0
     AGO          Angola       Sub-Saharan Africa         Lower middle income IBRD             31825299.0
     ALB          Albania      Europe & Central Asia      Upper middle income IBRD              2854191.0
     AND          Andorra      Europe & Central Asia      High income         Not classified      77146.0

In [14]:
df_2019_pivot = df_2019_pivot.reset_index()

df_2019_pivot.head()

indicator,Year,Country Code,Country Name,Region,Income Group,Lending Type,NY.GDP.PCAP.PP.CD,SH.STA.SUIC.P5,SP.DYN.LE00.IN,SP.POP.TOTL
0,2019,ABW,Aruba,Latin America & Caribbean,High income,Not classified,NaN,NaN,76.293,106310.0
1,2019,AFG,Afghanistan,South Asia,Low income,IDA,2152.366489,4.1,64.833,38041757.0
2,2019,AGO,Angola,Sub-Saharan Africa,Lower middle income,IBRD,6952.419362,6.1,61.147,31825299.0
3,2019,ALB,Albania,Europe & Central Asia,Upper middle income,IBRD,14012.976435,4.3,78.573,2854191.0
4,2019,AND,Andorra,Europe & Central Asia,High income,Not classified,NaN,NaN,NaN,77146.0

In [15]:
df_2019_pivot.shape

(217, 10)

In [16]:
df_2019_pivot[df_2019_pivot.isna().any(axis=1)]

indicator,Year,Country Code,Country Name,Region,Income Group,Lending Type,NY.GDP.PCAP.PP.CD,SH.STA.SUIC.P5,SP.DYN.LE00.IN,SP.POP.TOTL
0,2019,ABW,Aruba,Latin America & Caribbean,High income,Not classified,NaN,NaN,76.293000,106310.0
4,2019,AND,Andorra,Europe & Central Asia,High income,Not classified,NaN,NaN,NaN,77146.0
8,2019,ASM,American Samoa,East Asia & Pacific,Upper middle income,Not classified,NaN,NaN,NaN,55312.0
24,2019,BMU,Bermuda,North America,High income,Not classified,85263.763003,NaN,81.866585,63913.0
34,2019,CHI,Channel Islands,Europe & Central Asia,High income,Not classified,NaN,NaN,83.086000,172264.0
45,2019,CUB,Cuba,Latin America & Caribbean,Upper middle income,Not classified,NaN,14.5,78.802000,11333484.0
46,2019,CUW,Curacao,Latin America & Caribbean,High income,Not classified,25530.206866,NaN,NaN,157441.0
47,2019,CYM,Cayman Islands,Latin America & Caribbean,High income,Not classified,76747.666306,NaN,NaN,64948.0
52,2019,DMA,Dominica,Latin America & Caribbean,Upper middle income,Blend,12892.021100,NaN,NaN,71808.0
58,2019,ERI,Eritrea,Sub-Saharan Africa,Low income,IDA,NaN,10.9,66.321000,NaN
65,2019,FRO,Faroe Islands,Europe & Central Asia,High income,Not classified,NaN,NaN,82.746341,48677.0
71,2019,GIB,Gibraltar,Europe & Central Asia,High income,Not classified,NaN,NaN,NaN,33706.0
78,2019,GRL,Greenland,Europe & Central Asia,High income,Not classified,NaN,NaN,NaN,56225.0
80,2019,GUM,Guam,East Asia & Pacific,High income,Not classified,NaN,NaN,80.074000,167295.0
82,2019,HKG,"Hong Kong SAR, China",East Asia & Pacific,High income,Not classified,62106.100881,NaN,85.078049,7507400.0
88,2019,IMN,Isle of Man,Europe & Central Asia,High income,Not classified,NaN,NaN,NaN,84589.0
104,2019,KNA,St. Kitts and Nevis,Latin America & Caribbean,High income,IBRD,29812.595002,NaN,NaN,52834.0
112,2019,LIE,Liechtenstein,Europe & Central Asia,High income,Not classified,NaN,NaN,83.041463,38020.0
118,2019,MAC,"Macao SAR, China",East Asia & Pacific,High income,Not classified,132654.896700,NaN,84.244000,640446.0
119,2019,MAF,St. Martin (French part),Latin America & Caribbean,High income,Not classified,NaN,NaN,79.973171,38002.0
121,2019,MCO,Monaco,Europe & Central Asia,High income,Not classified,NaN,NaN,NaN,38967.0
126,2019,MHL,Marshall Islands,East Asia & Pacific,Upper middle income,IDA,4219.793440,NaN,NaN,58791.0
133,2019,MNP,Northern Mariana Islands,East Asia & Pacific,High income,Not classified,NaN,NaN,NaN,57213.0
140,2019,NCL,New Caledonia,East Asia & Pacific,High income,Not classified,NaN,NaN,77.634146,271300.0
147,2019,NRU,Nauru,East Asia & Pacific,High income,IBRD,14099.485354,NaN,NaN,10764.0
154,2019,PLW,Palau,East Asia & Pacific,High income,IBRD,17957.767739,NaN,NaN,18001.0
157,2019,PRI,Puerto Rico,Latin America & Caribbean,High income,Not classified,36276.842361,NaN,79.928512,3193694.0
158,2019,PRK,"Korea, Dem. People's Rep.",East Asia & Pacific,Low income,Not classified,NaN,9.4,72.274000,25666158.0
161,2019,PSE,West Bank and Gaza,Middle East & North Africa,Lower middle income,Not classified,6509.568335,NaN,74.053000,4685306.0
162,2019,PYF,French Polynesia,East Asia & Pacific,High income,Not classified,NaN,NaN,77.657000,279285.0
174,2019,SMR,San Marino,Europe & Central Asia,High income,Not classified,63420.327135,NaN,NaN,33864.0
177,2019,SSD,South Sudan,Sub-Saharan Africa,Low income,IDA,NaN,3.9,57.846000,11062114.0
184,2019,SXM,Sint Maarten (Dutch part),Latin America & Caribbean,High income,Not classified,NaN,NaN,NaN,40733.0
186,2019,SYR,Syrian Arab Republic,Middle East & North Africa,Low income,IDA,NaN,2.0,72.697000,17070132.0
187,2019,TCA,Turks and Caicos Islands,Latin America & Caribbean,High income,Not classified,30488.105168,NaN,NaN,38194.0
198,2019,TUV,Tuvalu,East Asia & Pacific,Upper middle income,IDA,4455.542635,NaN,NaN,11655.0
206,2019,VEN,"Venezuela, RB",Latin America & Caribbean,Not classified,IBRD,NaN,2.1,72.064000,28515829.0
207,2019,VGB,British Virgin Islands,Latin America & Caribbean,High income,Not classified,NaN,NaN,NaN,30033.0
208,2019,VIR,Virgin Islands (U.S.),Latin America & Caribbean,High income,Not classified,NaN,NaN,79.668293,106669.0
212,2019,XKX,Kosovo,Europe & Central Asia,Upper middle income,IDA,11797.119317,NaN,72.495122,1788878.0
213,2019,YEM,"Yemen, Rep.",Middle East & North Africa,Low income,IDA,NaN,5.8,66.125000,29161922.0

In [17]:
df_2019_pivot.dropna(inplace=True)

df_2019_pivot.head()

indicator,Year,Country Code,Country Name,Region,Income Group,Lending Type,NY.GDP.PCAP.PP.CD,SH.STA.SUIC.P5,SP.DYN.LE00.IN,SP.POP.TOTL
1,2019,AFG,Afghanistan,South Asia,Low income,IDA,2152.366489,4.1,64.833,38041757.0
2,2019,AGO,Angola,Sub-Saharan Africa,Lower middle income,IBRD,6952.419362,6.1,61.147,31825299.0
3,2019,ALB,Albania,Europe & Central Asia,Upper middle income,IBRD,14012.976435,4.3,78.573,2854191.0
5,2019,ARE,United Arab Emirates,Middle East & North Africa,High income,Not classified,71150.542141,6.4,77.972,9770526.0
6,2019,ARG,Argentina,Latin America & Caribbean,Upper middle income,IBRD,22999.275053,8.4,76.667,44938712.0

In [18]:
df_2019_pivot.shape

(176, 10)

In [52]:
fig = px.scatter(df_2019_pivot[df_2019_pivot["Region"] == "South Asia"], 
                 x="NY.GDP.PCAP.PP.CD", 
                 y="SP.DYN.LE00.IN",
                 size = "SP.POP.TOTL",
                 size_max = 100,
                 text="Country Code",
                 height = 800,
                 width = 600,
                 hover_name = "Country Name",
                 template = list(plotly.io.templates.keys())[6],
                 labels={"NY.GDP.PCAP.PP.CD":"2019 GDP per Capita","SP.DYN.LE00.IN":"2019 Life Expectancy"},
                 title="Wealth vs Health for South Asia",
                 color="Region")
fig.update_traces(textposition='middle right')   #tells us where the label should be
fig.show()

In [22]:
list(plotly.io.templates.keys())[0]

'ggplot2'

In [32]:
list(plotly.io.templates.keys())

['ggplot2',
 'seaborn',
 'simple_white',
 'plotly',
 'plotly_white',
 'plotly_dark',
 'presentation',
 'xgridoff',
 'ygridoff',
 'gridon',
 'none']

In [58]:
fig = px.pie (df_2019_pivot, 
              values = "SP.POP.TOTL", 
              names= "Country Name",
              height = 800, 
              title= "Population of the World" )
fig.update_traces(textposition = "inside", textinfo = "label+text+value")
fig.show()